<div class="container">
  <div class="row no-gutters">
    <div class="col-10" style="margin-top: 50px;">
      <center class="h3"><strong>本当に退会しますか？</strong></center>
      <br>
      <center>退会すると、会員登録情報や</center>
      <center>これまでの購入履歴が閲覧できなくなります。</center>
      <center>退会する場合は「退会する」をクリックしてください。</center>
      <br>
      <center>
        <%= link_to "退会しない", customers_mypage_path, class: "btn btn-primary" %>
        <%= link_to "退会する", customers_withdrawal_path(@customer), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
      </center>
    </div>
  </div>
</div>