  <div class="container center-block w-75 text-center mt-4">
    <h1 class="display-3"><strong>About</strong></h1>
    <br>
      <p class="text-lg"><strong><span style="font-size:1.5em;">ながのCAKEは全国発送可能なケーキ屋さんです。</span><br>
        <span style="font-size:1.5em;">お子様からお年寄りの方までお召し上がりいただけるよう、</span><br>
        <span style="font-size:1.5em;">様々なバリエーションを用意しております。</span><br>
        <span style="font-size:1.5em;">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</span><br>
        <span style="font-size:1.5em;">ぜひご注文ください</span></strong>
      </p>
      <div><%= image_tag "cake.jpg", size: "400x200" %></div>
  </div>
