<div class="container">
	<div class="row">
  <div><img src="app/assets/images/nctop.jpg"></div>

<div class="container center-block w-50 border border-dark" style="margin-top:150px">
<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員ではない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>
</div>

<div class="container">
	<div class="row">
<div class="col-10">
<b>新着商品</b>
  <% @items.last(4).each do |item| %>
  <p>
    <%= image_tag item.get_image, size: "100x100" %>
    <%= item.name %>
    <%= item.price %>
  </p>
  <% end %>
  <p><%=link_to "すべての商品を見る ＞" %></p>
</div>
</div>
</div>

</div>
</div>
