<div class="container">
  <div class="row">
    <div class="col-4">
      <!--後程部分ﾃﾝﾌﾟﾚ-->
      <table>
        <thead>
          <tr>
            <th>ジャンル一覧</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>


</div>
    <div class="col-8">
      <p class="border border-dark p-3">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
      
      <h2>新着商品</h2>
    </div>
  </div>
</div>